!!!
%html
  %head
    %title Peter Barnes Photography
    %meta{ charset: 'utf-8' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes' }
    %meta{ name: 'viewport', content: 'width=device-width', 'initial-scale' => '1.0' }
    %meta{ name: 'description', content: 'Peter Barnes, a photographer from Lincoln Nebraska.  My passion is to create emotion and depth through the medium of photography, with every photo taken being a gateway to how I see the world.' }
    %meta{ name: 'author', content: 'Peter Barnes' }
    %link{ rel: 'icon', href: '/favicon.png', type: 'image/png' }
    %link{ rel: 'shortcut icon', href: '/favicon.png' }
    %link{ href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css", rel: "stylesheet" }
    %link{ href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet" }
    %link{ href: "http://fonts.googleapis.com/css?family=Raleway:400,200", rel: "stylesheet" }
    %link{ href: "/source/jquery.fancybox.css", rel: "stylesheet" }
    %link{ href: "/source/helpers/jquery.fancybox-buttons.css", rel: "stylesheet" }
    %link{ href: "/source/helpers/jquery.fancybox-thumbs.css", rel: "stylesheet" }
    %link{ href: "/monosocialiconsfont-master/sample project/stylesheets.css", rel: "stylesheet" }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %script{ src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" }
    %script{ src: "/source/jquery.fancybox.pack.js" }
    %script{ src: "/source/helpers/jquery.fancybox-media.js" }
    %script{ src: "/source/helpers/jquery.fancybox-buttons.js" }
    %script{ src: "/source/helpers/jquery.fancybox-thumbs.js" }
    = csrf_meta_tags
  %body.center-block.squeeze
    = render 'layouts/header'
    = yield
    =render 'layouts/footer'
    :javascript
      $(document).ready(function() {
        $(".fancybox").fancybox();
      });
    